.pokemon_image {
    height: 25em;
    width: 25em;
    object-fit: cover;
}

/* Table rows */
.table_content {
    margin: 1em;
    display: grid;
    place-items: center;
    height: 70px;
    cursor: pointer;
}

.pokemon_background {
    background-color: #192b45;
    height: 93vh;
    border-radius: 1em;
}

.general_info {
    padding-top: 1em;
    width: 50vw;
}

.general_name {
    font-size: 2.45em;
    margin-top: -0.5rem;
    margin-bottom: -0.5em;
    font-weight: 600;
    color: white;
}

.pokemon_item {
    color: white;
    font-size: larger;
}

.title_view {
    display: flex;
    flex-direction: row;
    padding-left: 0.7em;
    padding-right: 0.7em;
}

.wrapper {
    background-color: #0E2038;
    padding: 2em;
    /* Exact value that works both for Safari and Chrome */
    height: 92.575vh;
}

.stats_object {
    display: flex;
    justify-content: space-between; 
    margin-top: -1em;
}

.blue {
    width: 100%; 
}

.stats {
    width: 36.55vw; 
    display: flex; 
    flex-direction: row; 
    /* background-color: darkcyan; */
    justify-content: space-between;
}

.stats_object_item {
    margin-right: 15px;
    color: white;
    font-size: larger;
}

.species {
    justify-content: space-between;
    width: 20%;
}

.smaller_view {
    display: flex;
    flex-direction: row;
    padding-left: 0.7em;
    padding-right: 0.7em;
}

@media only screen and (max-width: 1380px) {
    .title_view {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }

    .pokemon_image {
        height: 25em;
        width: 25em;
    }

    .species {
        justify-content: space-between;
        width: 40%;
    }
}

@media only screen and (max-width: 950px) {
    .pokemon_image {
        height: 15rem;
        width: 15rem;
    }
}

@media only screen and (max-width: 830px) {
    .stats {
        width: 50vw; 
        display: flex; 
        flex-direction: row; 
        justify-content: space-between;
    }

    .smaller_view {
        display: flex;
        flex-direction: row;
        padding-left: 0;
        padding-right: 0;
        overflow: auto;
    }
}

/* Decreases the padding on small screens */
@media only screen and (max-width: 600px) {
    .wrapper {
        padding: 1em;
        height: 96.4vh;
    }
}


/* Decreases the padding on small screens */
@media only screen and (max-width: 500px) {
    .pokemon_image {
        place-self: center;
        height: 15rem;
        width: 15rem;
    }

    .smaller_view {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        overflow: auto;
    }

    .general_name {
        font-size: 2em;
    }

    .stats {
        width: 90vw; 
        display: flex; 
        flex-direction: row; 
        justify-content: space-between;
    }
}

/* Decreases the padding on small screens */
@media only screen and (max-width: 500px) {
    .pokemon_image {
        place-self: center;
        height: 10rem;
        width: 10rem;
    }

    .smaller_view {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        overflow: auto;
    }

    .general_name {
        font-size: 1em;
    }

    .stats {
        width: 80vw; 
        display: flex; 
        flex-direction: column; 
        justify-content: space-between;
        padding-left: 1em;
        padding-right: 1em;
    }
}
